*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.imglogo{
    height: 60px;
    margin-top: 10px;
    
}

header{
    margin: 15px 15% 15px 15%  ;
    height: 150px;
}

a{
    text-decoration: none;
    color:#919191;
}

li{
    display: inline-block;
    margin-top: 2em;
    padding-right: 1em;
    color: #919191;
   

}

.textform{
    padding-top: 23%;
    padding-left: 2%;
    padding-right: 45%;
    padding-bottom: 0;
    font-size: 1.4em;
    color: white;
}

.banner {
    margin: 15px 0;
    /* width: auto; */
    height: 500px;
    background-image: url(../img/banner.jpg);   
    background-position: 50%;
    /* object-fit: cover; */
    border-radius: 1em;
    /* background-repeat: no-repeat; */
    
    }

    main{
        margin-left: 15%;
        margin-right: 15%;
    }

.articlebanner {
    margin-top: 15px;
    margin-bottom: 1em;
    
   
}

.articlebanner::after{
    content: '';
    display: table;
    clear: both;
    
}

.upblock{
    width: 100%;
    height: 70px;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1.3em;
}

.textform2{
    font-size: .9em;
}

.leftart{
    width: 20%;
    float: left;
    margin-bottom: 1em;
    font-size: 1em;
   
}



.centralart{
    width:calc(60% - 2em);
    margin-left: 1em;
    margin-right: 1em;
    float: left;
}

.centralimg {
    width:calc(60% -2em);
    width: 100%;
    height: 320px;
    background-color: grey;
}

.leftimg{
    width: 100%;
    height: 320px;
    background-color: grey;
}

.rightimg{
    width: 100%;
    height: 320px;
    
}

.rightart{
    width: 20%;
    float: right;
    }

.purpleblock{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #8800ff;
    text-align: center;
}

.finaltext{
    font-size: 1.5em;
    text-align: center;
    margin-top: 40px;
}
