/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
}

/* Colore grigio testo */
.textcolor{
    color:#919191;
}

/* Immagine del logo */
.imglogo{
    height: 60px;
    margin-top: 10px;
}

/* Barra di navigazione  */
header{
    margin: 15px 15% 15px 15%  ;
}

/* Link categorie nav  */
a{
    text-decoration: none;
    color:#919191;
}

/* Categorie nav  */
li{
    display: inline-block;
    margin-top: 2em;
    padding-right: 1em;
    color: #919191;
}

 /* Testo banner centrale  */
.textform{
    padding-top: 23%;
    padding-left: 2%;
    padding-right: 45%;
    padding-bottom: 0;
    font-size: 1.4em;
    color: white;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

}

/* Blocco banner centrale  */
.banner {
    margin: 15px 0;
    height: 500px;
    background-image: url(../img/banner.jpg);   
    background-position: 50%;
    background-size: cover;
    border-radius: 1em;
    overflow: hidden;
}

/* Margini parte centrale pagina */
main{
        margin-left: 15%;
        margin-right: 15%;
}

   /* Blocco con i 3 articoli  */
.articlebanner {
    margin-top: 15px;
    margin-bottom: 1em;   
}

/* Clearfix float articoli */
.articlebanner::after{
    content: '';
    display: table;
    clear: both;
    
}

/* Blocco "Leadership" */
.upblock{
    width: 100%;
    height: 70px;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1.3em;
}

/* Testo "Leadership" */
.textform2{
    font-size: .9em;
}


/* Articolo di sinistra */
.leftart{
    
    width: 20%;
    float: left;
    margin-bottom: 1em;
    font-size: 1em;
}

/* Immagine articolo di sinistra */
.leftimg{
    width: 100%;
    height: 320px;
    background-color: grey;
}

/* Articolo centrale */
.centralart{
    width:calc(60% - 2em);
    margin-left: 1em;
    margin-right: 1em;
    float: left;
}

/* Immagine articolo centrale */
.centralimg {
    width:calc(60% -2em);
    width: 100%;
    height: 320px;
    background-color: grey;
}

/* Articolo di destra */
.rightart{
    width: 20%;
    float: right;
}

/* Immagine articolo di destra */
.rightimg{
    width: 100%;
    height: 320px;
    background-color: black;
}

/* Testo parte finale */
footer{
    font-size: 1.5em;
    text-align: center;
    margin-top: 40px;
}
