*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.imglogo{
    height: 60px;
    margin-top: 10px;
    margin
}

header{
    margin: 15px 15% 15px 15%  ;
    height: 150px;
}

a{
    text-decoration: none;
}

li{
    display: inline-block;
    margin-top: 2em;
    padding-right: 1em;
    color: #919191;
   

}

.textform{
    padding-top: 23%;
    padding-left: 2%;
    padding-right: 45%;
    padding-bottom: 0;
    font-size: 1.3em;
    color: white;
}

.banner {
    margin: 15px 15% 15px 15%;
    height: 500px;
    background-image: url(../img/banner.jpg);   
    background-position: center;
    border-radius: 1em;
    
    }

.articlebanner {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1em;
    background-color: #0386fc;
   
}

.articlebanner::after{
    content: '';
    display: table;
    clear: both;
}

.upblock{
    width: 100%;
    height: 70px;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
}



.leftblock{
    background-color: #abcfe7;
    width: 20%;
    float: left;
    margin-bottom: 1em;
}



.centralblock{
    background-color: #abcfe7;
    width:calc(60% - 2em);
    margin-left: 1em;
    margin-right: 1em;
    float: left;
}

.rightblock{
    background-color: #abcfe7;
    width: 20%;
    heght: 700px;
    float: right;
    }

.purpleblock{
    margin: top .2em;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #8800ff;
    height: 100px;
    margin-top: 0.5em;
}
